.app-bar-main-panel {
    display: flex;
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    right: 0;
    margin-left: 0;
    margin-right: 0;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: 'Open Sans', sans-serif;
    background-color: white;
    box-shadow: 1px 0px 5px 0px rgba(0,0,0,0.25);
    border-radius: 0px 0px 50px 50px;
    z-index: 20;
    height: 3.6em;
}
.app-bar-icon-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1em;
}

.home-icon {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 2.9em;
    border-radius: 50%;
    width: 6em;
    background-color: white;
    height: 5em;
    border: 2px solid #28B3DC;
    box-shadow: 1px 0px 5px 0px rgba(0,0,0,0.25);
}
.app-bar-icon {
    width: 4em;
}
.home-png {
    height: 3.9em;
    width: 3.9em;
}
.icon-link {
    text-decoration: none;
    color: #A4A4A4;
    font-size: 0.5em;
    padding-bottom: 1em;
}

.app-bar-desc {
    margin: 0;
    position: absolute;
    bottom: 1em;
}
