.hero-section {
    background-size: cover;
    width: 100vw;
    background-position: bottom;
    height: 43em;
    margin-top: -14em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hide {
    display: none;
}

.evening {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iNDgxIiBoZWlnaHQ9Ijc1NiIgdmlld0JveD0iMCAwIDQ4MSA3NTYiPgogIDxkZWZzPgogICAgPGxpbmVhckdyYWRpZW50IGlkPSJsaW5lYXItZ3JhZGllbnQiIHgxPSIwLjUiIHgyPSIwLjUiIHkyPSIxIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCI+CiAgICAgIDxzdG9wIG9mZnNldD0iMCIgc3RvcC1jb2xvcj0iIzJjMmNlMyIvPgogICAgICA8c3RvcCBvZmZzZXQ9IjAuNDI5IiBzdG9wLWNvbG9yPSIjMzI4YWQ2Ii8+CiAgICAgIDxzdG9wIG9mZnNldD0iMC42OSIgc3RvcC1jb2xvcj0iI2QzODAzYSIvPgogICAgICA8c3RvcCBvZmZzZXQ9IjAuNzY4IiBzdG9wLWNvbG9yPSIjZTI3ZjJiIi8+CiAgICAgIDxzdG9wIG9mZnNldD0iMSIgc3RvcC1jb2xvcj0iI2NlYTUxYyIvPgogICAgPC9saW5lYXJHcmFkaWVudD4KICA8L2RlZnM+CiAgPHBhdGggaWQ9IlBhdGhfMTkiIGRhdGEtbmFtZT0iUGF0aCAxOSIgZD0iTTIzMCwwaDIxQzM3OC4wMjUsMCw0ODEsMTAyLjk3NSw0ODEsMjMwVjUyNmMwLDEyNy4wMjYtMTAyLjk3NSwyMzAtMjMwLDIzMEgyMzBDMTAyLjk3NSw3NTYsMCw2NTMuMDI2LDAsNTI2VjIzMEMwLDEwMi45NzUsMTAyLjk3NSwwLDIzMCwwWiIgZmlsbD0idXJsKCNsaW5lYXItZ3JhZGllbnQpIi8+Cjwvc3ZnPgo=")
}

.morning {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iNDgxIiBoZWlnaHQ9Ijc1NiIgdmlld0JveD0iMCAwIDQ4MSA3NTYiPgogIDxkZWZzPgogICAgPGxpbmVhckdyYWRpZW50IGlkPSJsaW5lYXItZ3JhZGllbnQiIHgxPSIwLjUiIHgyPSIwLjUiIHkyPSIxIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCI+CiAgICAgIDxzdG9wIG9mZnNldD0iMCIgc3RvcC1jb2xvcj0iI2Q5ODMzYyIvPgogICAgICA8c3RvcCBvZmZzZXQ9IjAuMzA1IiBzdG9wLWNvbG9yPSIjZTNhNjM3Ii8+CiAgICAgIDxzdG9wIG9mZnNldD0iMC42NCIgc3RvcC1jb2xvcj0iI2U3YzY0OSIvPgogICAgICA8c3RvcCBvZmZzZXQ9IjAuNzg4IiBzdG9wLWNvbG9yPSIjZjdmZWQ4Ii8+CiAgICAgIDxzdG9wIG9mZnNldD0iMSIgc3RvcC1jb2xvcj0iIzQ5OTQ5MSIvPgogICAgPC9saW5lYXJHcmFkaWVudD4KICA8L2RlZnM+CiAgPHBhdGggaWQ9IlBhdGhfMTkiIGRhdGEtbmFtZT0iUGF0aCAxOSIgZD0iTTIzMCwwaDIxQzM3OC4wMjUsMCw0ODEsMTAyLjk3NSw0ODEsMjMwVjUyNmMwLDEyNy4wMjYtMTAyLjk3NSwyMzAtMjMwLDIzMEgyMzBDMTAyLjk3NSw3NTYsMCw2NTMuMDI2LDAsNTI2VjIzMEMwLDEwMi45NzUsMTAyLjk3NSwwLDIzMCwwWiIgZmlsbD0idXJsKCNsaW5lYXItZ3JhZGllbnQpIi8+Cjwvc3ZnPgo=")
}

.clear-day {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iNDgxIiBoZWlnaHQ9Ijc1NiIgdmlld0JveD0iMCAwIDQ4MSA3NTYiPgogIDxkZWZzPgogICAgPGxpbmVhckdyYWRpZW50IGlkPSJsaW5lYXItZ3JhZGllbnQiIHgxPSIwLjUiIHgyPSIwLjUiIHkyPSIxIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCI+CiAgICAgIDxzdG9wIG9mZnNldD0iMCIgc3RvcC1jb2xvcj0iIzJjN2NlMyIvPgogICAgICA8c3RvcCBvZmZzZXQ9IjAuNDUzIiBzdG9wLWNvbG9yPSIjMmJiN2UyIi8+CiAgICAgIDxzdG9wIG9mZnNldD0iMSIgc3RvcC1jb2xvcj0iIzE2OTBhZCIvPgogICAgPC9saW5lYXJHcmFkaWVudD4KICA8L2RlZnM+CiAgPHJlY3QgaWQ9IlJlY3RhbmdsZV8xMiIgZGF0YS1uYW1lPSJSZWN0YW5nbGUgMTIiIHdpZHRoPSI0ODEiIGhlaWdodD0iNzU2IiByeD0iMjMwIiBmaWxsPSJ1cmwoI2xpbmVhci1ncmFkaWVudCkiLz4KPC9zdmc+Cg==");
}

.night {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iNDgxIiBoZWlnaHQ9Ijc1NiIgdmlld0JveD0iMCAwIDQ4MSA3NTYiPgogIDxkZWZzPgogICAgPGxpbmVhckdyYWRpZW50IGlkPSJsaW5lYXItZ3JhZGllbnQiIHgxPSIwLjUiIHgyPSIwLjUiIHkyPSIxIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCI+CiAgICAgIDxzdG9wIG9mZnNldD0iMCIgc3RvcC1jb2xvcj0iIzJjMmNlMyIvPgogICAgICA8c3RvcCBvZmZzZXQ9IjEiIHN0b3AtY29sb3I9IiMxNjIzODAiLz4KICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgPC9kZWZzPgogIDxwYXRoIGlkPSJQYXRoXzE5IiBkYXRhLW5hbWU9IlBhdGggMTkiIGQ9Ik0yMzAsMGgyMUMzNzguMDI1LDAsNDgxLDEwMi45NzUsNDgxLDIzMFY1MjZjMCwxMjcuMDI2LTEwMi45NzUsMjMwLTIzMCwyMzBIMjMwQzEwMi45NzUsNzU2LDAsNjUzLjAyNiwwLDUyNlYyMzBDMCwxMDIuOTc1LDEwMi45NzUsMCwyMzAsMFoiIGZpbGw9InVybCgjbGluZWFyLWdyYWRpZW50KSIvPgo8L3N2Zz4K")
}

.cloudy-day {

}

.sun-rise {

}

.sun-set {

}

.whiteFilter {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
}

.hero {
    width: 100%;
    /* margin-top: 10em; */
    /* margin: 0 auto; */
    padding: 0 auto;
} 

.heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -3.7em;
    width: 65vw;
    text-align: center;
}

.hero-section .kiteboarding {
    font-size: 2.5em;
    margin: 0;
    font-weight: bold;
    margin-top: -0.3em;
    color: #414141;
}

.heading p {
    margin: 0;
    font-weight: 300;
    color: #414141;
    font-size: 0.9em;
}


.rentalimage {
    width: 117vw;
    margin-top: 18em;
}


