.daily-weather-card {
    font-weight: 300;
    font-size: 4vw;
    color: #7b7b7b;
    width: 95vw;
    max-width: 700px;
    height: 2.5em;
    margin: 3px auto;
    padding: 0 5%;
    border-radius: 2vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    background-position: right;
    background-size: cover;
    /* background-image: url('../../../images/NinImage.png'); */
}

.daily-weather-date {
    /* font-weight: 300; */
}

.daily-weather-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 45%;
}

.daily-desc {
    
    /* font-weight: 300; */
    display: flex;
    white-space: nowrap;
}



.weather-daily-icon {
    width: 20px;
    display: block;
    height: 20px;
    margin-top: 2%;
    margin-bottom: 2%;
    padding-right: 1em;
}

.daily-weather-temp-max {

}

.line {
    border-right: 1px solid grey;
    width: 9px;
    height: 17px;
    margin-right: 6px;
}

.daily-weather-temp-low {
    /* color: #4E4E4E; */
    /* opacity: 0.7; */
}

.daily-weather-unit span {
    padding-bottom: 0.2em;

}

.red {
    
}

.blue {

}

.green {

}

.yellow {

}