.daily-weather-card {
    width: 95vw;
    height: 15vw;
    margin: 10px auto;
    padding: 0 5%;
    border-radius: 2vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: grey;
    box-sizing: border-box;
}

.daily-weather-date {

}

.daily-weather-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
}

.daily-desc {
    font-size: 4vw;
}

.wheather-hourly-icon {

}

.daily-weather-temp-max {

}

.daily-weather-temp-low {

}

.daily-weather-unit {

}

.red {
    
}

.blue {

}

.green {

}

.yellow {

}