.daily-weather-card {
    width: 95vw;
    max-width: 700px;
    height: 15vw;
    margin: 10px auto;
    padding: 0 5%;
    border-radius: 2vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #F17373;
    box-sizing: border-box;
}

.daily-weather-date {
    font-weight: 600;
}

.daily-weather-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 45%;
}

.daily-desc {
    font-size: 4vw;
    font-weight: 600;
}

.wheather-hourly-icon {
    width: 15%;
}

.daily-weather-temp-max {

}

.daily-weather-temp-low {
    color: #4E4E4E;
    opacity: 0.7;
}

.daily-weather-unit {

}

.red {
    
}

.blue {

}

.green {

}

.yellow {

}