.rentalSection {
    margin-top: -25em;
    padding-top: 25em;
}



.RentalTitle {
    text-align: center;
    color: #525252;
}

.RentalTitle h3{
    padding-top: 2em;
    width: 17em;
    margin: 0 auto;
} 

.rentalCard {
    width: 90vw;
    max-width: 600px;
    /* height: 8em; */
    padding: 5px;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 6px;
    margin: 5px auto;
    margin-top: 1em;
    box-shadow: 2px 8px 5px 0px rgba(0,0,0,0.15);
}

.upperRental {
    display: flex;
    justify-content: space-between;
}

.leftUpperUpperRental {
    display: flex;
    flex-direction: column;
}

.typeRentalCard {
    color: rgb(150, 148, 148);
}

.rightUpperRental {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.priceRentalCard {
    background-color: rgb(0, 153, 255);
    color: white;
    border-radius: 20px;
    padding: 2px 8px;
}

.lowerRental {
    margin: 0 auto;
    margin-top: 15px;
    max-width: 350px;
}

.descriptionRentalCard {
    font-size: .9em;
}
