.weather-data-panel {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    margin-top: 1em;
    margin-bottom: 2em;
}

.weather-data-first {
    text-align: left;
    color: #404040;
}

.weather-temp {
    font-size: 3.5em;
    font-weight: 700;
}

.weather-state {
    text-align: center;
    font-size: 0.8em;
    margin-top: -0.2em;
    font-weight: 300;
    padding-left: 1em;
}

.weather-data-second {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.weather-data-wind-icon {
    width: 3.5em;
}

.weather-data-panel-current {
    margin-bottom:-0.2em;
}

.weather-wind-value {
    color: #404040;
    font-size: 12.8px;
    font-weight: 300;
    margin-top:1em;
}