.wheather-hourly-panel {
    display: flex;
    flex-direction: row;
    width: 100vw;
    overflow-x: scroll;   
    margin-bottom: 2em; 
}

.wheather-hourly-card-desc {
    min-width: 70px;
    margin-left: -4%;
    background-color: black;
    border-radius: 30px;
    padding: 2%;
    padding-right: 4%;

}

.wheather-card-hourly-desc {
    color: white;
    font-size: .6em;
    text-align: right;
    margin-top: 20%;
    margin-bottom: 20%;
}

.weather-spacer {
    text-align: center;
    color: #404040;
    padding-top: 1em;
}

.wheather-card-hourly-desc-status {
    color: white;
    font-size: .6em;
    text-align: right;
    margin-top: 55%;
}
/* ---------------- */
/* ---------------- */

.wheater-daily-panel {
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin-bottom: 2em;
}

.weather-daily-card {
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 80vw;
    height: 20vh;
    margin: 0 auto;
}

.weather-daily-date {

}

.weather-daily-temperature-max {

}

.weather-daily-temperature-min {

}

.weather-daily-wind-speed {

}

