@import "./components/AppBar/AppBar.css";
@import "./components/HeroSection/HeroSection.css";
@import "./components/MainImage/MainImage.css";
@import "./components//RentalCard/RentalCard.css";
@import "./components/pages/weather/weather.css";

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.main-wrap-horizontal {
    margin-top: -25em;
    padding-top: 25em;
    position: absolute;
    z-index: 2;
}

.mainSection {
    width: 100vw;
}

.rentalSection {
    width: 100vw;
}

.weatherSection {
    width: 100vw;
}
